<p>
  {{link-to "Item list" "items.index" }}
</p>

<h1>Item show</h1>

<p>
  <strong>Name:</strong>
  <span>{{model.name}}</span>
</p>

<p>
  <strong>Todo:</strong>
  <span>{{model.todo}}</span>
</p>

