<p>
  {{link-to "Todo list" "todos.index" }}
</p>

<h1>Todo show</h1>

<p>
  <strong>Title:</strong>
  <span>{{model.title}}</span>
</p>

<p>
  <strong>Items:</strong>
  <span>{{model.items}}</span>
</p>

